{% extends "arduinoControl/base.html" %}

{% block content %}

<div class="container">
	<h2>Arduino Control</h2>
	<p>Under construction</p>
	<ul class="nav nav-tabs" role="tablist">
		<li><a href=".">Home</a></li>
		<li><a href="graphs">Graphs</a></li>
		<li><a href="dashboard">Dashboard</a></li>
		<li class="active"><a href="alarminfo">Alarm info</a></li>
		<li><a href="/../admin">Admin</a></li>
	</ul>
</div>

<div class="info">
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-md-8 col-md-offset-2">			
				<br>
				<div class="panel-group">
					<div class = "col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Temperature Control</div>
							<div class="panel-body">
								{% for temp in templist %}
									<li style="color:{% cycle 'blue' 'green' %}">{{ temp }}</li>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class = "col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Alarm Info</div>
							<div class="panel-body">
								{% for temp in alarmlist %}
									<li style="color:{% cycle 'blue' 'green' %}">{{ temp }}</li>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
