{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Arduino Control</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	 	<link rel="stylesheet" href="{% static 'arduinoControl/css/arduinocontrol.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>

	<body>
		<div class="container">
			<h2>Arduino Control</h2>
			<p>Under construction</p>
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="temperature">Temperature</a></li>
				<li><a href="dashboard">Dashboard</a></li>
		<!--		<li><a href="temp_graph">Graphs</a></li>  --> 
				<li><a href="alarminfo">Alarm info</a></li>
				<li><a href="alarmon">Alarm On!</a></li>
				<li><a href="alarmoff">Alarm Off!</a></li>
				<li><a href="/../admin">Admin</a></li>
			</ul>
		</div>

		<div class="info">
			<div class = "container-fluid">
				<div class = "row">
					<div class = "col-md-8 col-md-offset-2">			
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>			
		</div>
	</body>
</html>
