{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Arduino Control</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	 	<link rel="stylesheet" href="{% static 'arduinoControl/css/arduinocontrol.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<ul class="nav navbar-nav navbar-right">
					<p class="navbar-text">
						{% if user.is_authenticated %}
							Welcome, {{ user.get_username }}. Thanks for logging in.
							</p>
							<li><a href="../admin/logout">Sign Out</a></li>
						{% else %}
							Welcome, new user. Please log in.
							</p>
							<li><a href="../admin/login/?next=/arduinoControl/graphs">Sign In</a></li>
						{% endif %}
					<li><a href="../admin">Admin</a></li>
				</ul>
			</div>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>
